name: Deploy Quarto Site

on:
  push:
    branches: [main]

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      - uses: quarto-dev/quarto-actions@v2
        with:
          tinytex: true
          r: true
      - run: quarto publish gh-pages --no-prompt
